<!-- Start deneb_achivement section -->
<section class="deneb_achivement section_padding">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-3  wow fadeInLeft">
				<div class="section_title">
					<h2>Platforms</h2>
				</div>
				<!-- <div class="deneb_content_box">
					<p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus at orci non risus luctus commodo. Ut nibh tellus, faucibus nec gravida.</p>
					<p>Duis quis ipsum leo. Praesent vitae tellus ac ante porta mattis vel non ex. Quisque a finibus justo.</p>
				</div> -->
			</div>
			<div class="col-lg-9">
				<div class="achivment_wrapper">
					<div class="single_achivment wow fadeInUp">
						<div class="icon">
							<img src="{{relative_url}}/assets/images/icon_7.png" class="img-fluid" alt="">
						</div>
					</div>
					<div class="single_achivment wow fadeInUp"  data-wow-delay=".1s">
						<div class="icon">
							<img src="{{relative_url}}/assets/images/icon_8.png" class="img-fluid" alt="">
						</div>
					</div>
					<div class="single_achivment wow fadeInUp" data-wow-delay=".2s">
						<div class="icon">
							<img src="{{relative_url}}/assets/images/icon_9.png" class="img-fluid" alt="">
						</div>
					</div>
					<div class="single_achivment wow fadeInUp"  data-wow-delay=".3s">
						<div class="icon">
							<img src="{{relative_url}}/assets/images/icon_10.png" class="img-fluid" alt="">
						</div>
					</div>
					<div class="single_achivment wow fadeInUp"  data-wow-delay=".2s">
						<div class="icon">
							<img src="{{relative_url}}/assets/images/icon_11.png" class="img-fluid" alt="">
						</div>
					</div>
					<div class="single_achivment wow fadeInUp"  data-wow-delay=".3s">
						<div class="icon">
							<img src="{{relative_url}}/assets/images/icon_12.png" class="img-fluid" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_achivement section -->
