<!-- Start deneb_pricing section -->
<section id="opportunities" class="deneb_pricing pricing_v1">
	<div class="shape_v4">
		<img src="{{relative_url}}/assets/images/shape/shape_11.png" class="shape_11" alt="">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section_title text-center">
					<h2>{{ site.data.business.header-title }}</h2>
					<!-- <p>When unknow printer took a gallery of type and scramblted it to make a type specimen book</p> -->
				</div>
			</div>
		</div>
		<div class="row">
			{% for business in site.data.business.business-list %}
			<div class="col-lg-6 col-md-6 col-sm-12">
				<div class="pircing_box wow fadeInUp" data-wow-delay="{% cycle '0s', '.2s' %}">
					<div class="icon">
						<img src="/assets/images/business/{{ business.icon }}" class="img-fluid" alt="{{ business.title }}">
					</div>
					<div class="title">
						<h3>{{ business.title }}</h3>
					</div>
					<div class="list">
						<ul>
							{% for description in business.description-list %}
							<li>{{ description.text }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<!-- End deneb_pricing section -->
