<!-- Start banner section -->
<section class="banner banner_v1">
	<div class="shape_v1">
		<img src="/assets/images/shape/shape_1.png" class="shape_1" alt="slider one">
	</div>
	<div class="container">
		<div class="hero_slider">
			<div class="signle_slider">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<div class="banner_content wow fadeInLeft">
							<h2>{{ site.data.hero.hero-h1 }}<br><span>{{ site.data.hero.hero-h2 }}</span></h2>
							<p>{{ site.data.hero.hero-p1 }}
							<br/><br/>
							{{ site.data.hero.hero-p2 }}
							<br/><br/>
							{{ site.data.hero.hero-p3 }}</p>
							<a href="#contact" class="deneb_btn">{{ site.data.hero.hero-button }}</a>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="deneb_img_box wow fadeInRight">
							<img src="/assets/images/{{ site.data.hero.hero-image }}" class="img-fluid" alt="slider two"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End banner section-->
