<!-- Start kitchens section -->
<section id="kitchen" class="deneb_kitchen">
	<div class="shape_v5">
		<img src="{{relative_url}}/assets/images/shape/shape_12.png" class="shape_12" alt="">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section_title text-center">
					<h2>{{ site.data.kitchens.header-title }}</h2>
					<p>{{ site.data.kitchens.header-description }}</p>
				</div>
			</div>
			</div>
			<div class="col-lg-9 mx-auto">
				<div class="deneb_img_box">
					<img src="/assets/images/{{ site.data.kitchens.image }}" class="img-fluid" alt="portfolio"/>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End kitchens section -->
