<!-- Start kitchens section -->
<section id="kitchen" class="deneb_kitchen">
	<div class="shape_v5">
		<img src="{{relative_url}}/assets/images/shape/shape_12.png" class="shape_12" alt="">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section_title text-center">
					<h2>Our Kitchens</h2>
					<p>Our cloud kitchens are located in carefully chosen areas that maximise delivery potential in the heartlands. Expand your business with us and you may easily tap the highly populated regions in the Metro.</p>
				</div>
			</div>
			<div class="col-lg-3">
			</div>
			<div class="col-lg-9">
				<div class="deneb_img_box">
					<img src="/assets/images/kitchen.png" class="img-fluid" alt="portfolio"/>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End kitchens section -->
