<!-- Start deneb_banner section -->
<section class="deneb_banner banner_v1">
	<div class="shape_v1">
		<img src="/assets/images/shape/shape_1.png" class="shape_1" alt="slider one">
	</div>
	<div class="container">
		<div class="hero_slider">
			<div class="signle_slider">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<div class="banner_content wow fadeInLeft">
							<h3>Grow your food business with <br><span>Zero-Investment and High return!</span></h3>
							<!-- <h5>We Are Professional Freelance Web Designer</h5> -->
							<p>FlyKitchen, Inc. builds cloud restaurants supercharged for delivery and takeout. We provide a centralized kitchen for any F&B busdiness to prepare and deliver food with ease. <br/><br/>
							Join Fly Kitchen to start or expand your delivery-oriented food business today.</p>
							<a href="#" class="deneb_btn">Join Us</a>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="deneb_img_box wow fadeInRight">
							<img src="/assets/images/banner_1.png" class="img-fluid" alt="slider two"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_banner section-->
