<!-- Start team section -->
<section class="deneb_pricing pricing_v1">
	<div class="shape_v4">
		<img src="{{relative_url}}/assets/images/shape/shape_11.png" class="shape_11" alt="">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section_title text-center">
					<h2>Meet Our Team</h2>
					<!-- <p>When unknow printer took a gallery of type and scramblted it to make a type specimen book</p> -->
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="pircing_box wow fadeInUp">
					<div class="icon">
						<img src="{{relative_url}}/assets/images/team_1.png" class="img-fluid" alt="">
					</div>
					<div class="title">
						<h5>George Yang</h5>
					</div>
					<div class="list">
						<ul>
							<li>Mentor & Senior Advisor</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="pircing_box wow fadeInUp" data-wow-delay=".2s">
					<div class="icon">
						<img src="{{relative_url}}/assets/images/team_2.png" class="img-fluid" alt="">
					</div>
					<div class="title">
						<h5>Kris Yang</h5>
					</div>
					<div class="list">
						<ul>
							<li>Kris comes with over 20 years experience working in the family business that has brought global restaurant brands to the Philippines such as McDonald's, TGIFridays, Chili's, Italiannis, Outback Steakhouse, among others.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="pircing_box wow fadeInUp" data-wow-delay=".2s">
					<div class="icon">
						<img src="{{relative_url}}/assets/images/team_3.png" class="img-fluid" alt="">
					</div>
					<div class="title">
						<h5>Marco Alquiros</h5>
					</div>
					<div class="list">
						<ul>
							<li>Marco  has over 15 years professional experience and lifelong mentoring from the family food businesses of Giligan's Island with over 100 branches nationwide, Guilly's, and Kapitan Gimmo before venturing out to his own brands of Kalye Unligrill and Marti's Food Shack.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="pircing_box wow fadeInUp" data-wow-delay=".2s">
					<div class="icon">
						<img src="{{relative_url}}/assets/images/team_4.png" class="img-fluid" alt="">
					</div>
					<div class="title">
						<h5>Thess Joloso</h5>
					</div>
					<div class="list">
						<ul>
							<li>Has over 30 years of experience in the field of Product Research and Development in various leading food chain restaurants. Finished a short culinary course in China. And, also established her own meat and meat products in the past.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="pircing_box wow fadeInUp" data-wow-delay=".2s">
					<div class="icon">
						<img src="{{relative_url}}/assets/images/team_5.png" class="img-fluid" alt="">
					</div>
					<div class="title">
						<h5>Claire Prieto</h5>
					</div>
					<div class="list">
						<ul>
							<li>Has over 30 years of experience in the field of Product Research and Development in various leading food chain restaurants. Finished a short culinary course in China. And, also established her own meat and meat products in the past.</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End deneb_pricing section -->
