<!-- Start why section -->
<section class="deneb_contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section_title text-center">
					<h2>Why Fly Kitchen?</h2>
					<p>We are also a platform to allow consumers and food creators to more efficiently meet each other. We want to make your business journey easy yet convenient and powerful.</p>
				</div>
			</div>

			<div class="col-lg-9 container">
			  <div class="row">
			    <div class="col-lg-6 columns grid">
			        <div class="small-12 content-wrapper column item1">
								<h4>No Capital</h4>
								<p>Exponential earning potential. Grow your restaurant brand's online presence through synergies.</p>
			        </div>
			    </div>
			    <div class="col-lg-6 columns grid">
			      <div class="small-12 content-wrapper column item2">
							<h4>No Rental & Monthly Expense</h4>
							<p>Forget about monthly outflows on your investment. Just wait for the cash to come rolling in!</p>
			      </div>
			    </div>
			  </div>
				<div class="row">
			    <div class="col-lg-6 columns grid">
			        <div class="small-12 content-wrapper column item3">
								<h4>No Payroll</h4>
								<p>No need to keep a payroll or manage employees. We got that covered for you!</p>
			        </div>
			    </div>
			    <div class="col-lg-6 columns grid">
			      <div class="small-12 content-wrapper column item4">
							<h4>High Margins</h4>
							<p>Grow big and bigger quick and easier than with any franchise model in the FnB world!</p>
			      </div>
			    </div>
			  </div>
			</div>

		</div>
	</div>
</section>
<!-- End why section -->
