// Font Family

$font1: 'Lato', sans-serif;

$font2: 'Lato', sans-serif;

// Colors
$white: #fff;

$text: #011a3e;

$title: #011a3e;

$theme_color: #dd5136;


// Responsive Variables
$laptop: 'only screen and (min-width: 1200px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';
