// Deneb Why css
.deneb_why{
	position: relative;

	h4 {
		text-transform: uppercase;
		font-weight: bold;
	}

	h2 {
		&:after{
			width: 74px;
		}
	}

	p {
		margin-top: 10px;
	}

	.grid{
		padding: 0;
	}

	.content-wrapper{
		border: 2px dashed $theme_color;
		text-align: center;
		padding: 40px;
	}

	.item1 {
	// border-top: none;
	// border-left: none;
		border:none;

		@media #{$md}{
			border-bottom: 2px dashed $theme_color;
		}
		@media #{$xs}{
			border-bottom: 2px dashed $theme_color;
		}
	}

	.item2 {
		border-top: none;
		border-right: none;
		border-bottom: none;

		@media #{$md}{
			border: none;
		}
		@media #{$xs}{
			border: none;
		}
	}

	.item3 {
		border-bottom: none;
		border-left: none;
		border-right: none;
	}

	.item4 {
		border-bottom: none;
		border-right: none;

		@media #{$md}{
			border-left: none;
		}
		@media #{$xs}{
			border-left: none;
		}
	}

}
