
body {
	background-color: #ffcba4;
	color: #011a3e;
}

.banner-section{
	#banner{
		padding-top: 120px;

		.banner-image{
			width: 85%;
		}
	}
}

#brands{
	.grid-list-item{
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

#team{
	position: relative;

	.team-wrapper{
		min-height: 1361px;

		.single_project{
			min-height: 680px;
		}
	}
}

#why-fly-kitchen{
	padding-bottom: 120px
}


@media (max-width: 1200px){
	#team{
		.team-wrapper{
			min-height: 1290px;

			.single_project{
				min-height: 640px;
			}
		}
	}

}

@media (max-width: 991px){
	#team{
		.team-wrapper{
			min-height: 1915px;

			.single_project{
				min-height: 600px;
			}
		}
	}
}

@media (max-width: 767px){
	.banner-section{
		#banner{
			.banner-image{
				width: 100%;
			}
		} 
	} 


	#team{
		.team-wrapper{
			min-height: 3776px;

			.single_project{
				min-height: 0;
			}
		}
	}
}

@media (max-width: 580px){
	#team{
		.team-wrapper{
			min-height: 3810px;
		}
	}
}

@media (max-width: 520px){
	#team{
		.team-wrapper{
			min-height: 3600px;
		}
	}
}