// Deneb Why css
.deneb_why{
	position: relative;
	.section_title{
		@media #{$md}{
			margin: 0;
			margin-bottom: 60px;
		}
	}

	h4 {
		text-transform: uppercase;
		font-weight: bold;
	}

	p {
		margin-top: 10px;
	}

	.grid{
		padding: 0;
	}

	.content-wrapper{
		border: 2px dashed $theme_color;
		text-align: center;
		padding: 40px;
	}

.item1 {
	// border-top: none;
	// border-left: none;
	border:none;
}

.item2 {
	border-top: none;
	border-right: none;
	border-bottom: none;
}

.item3 {
	border-bottom: none;
	border-left: none;
	border-right: none;
}

.item4 {
	border-bottom: none;
	border-right: none;
}

}
